<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emotion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid" id="header">
   
    <div style="display: flex; align-items: flex-end; width: 100%; justify-content: flex-end;">
    <a role="button" class="btn btn-success" href="/"><strong>Go Back</strong>
    </a>
	</div>
</div>
<br>
<h1 style="color: red;"> {{ text }} <strong style="color: black;"></strong></h1>
<br>
	
</body>
</html>
